section{
			position: relative;
			margin: auto;
			width: 1000px;
			height: 1000px;
			/*background: #aaa;*/
		}

article{
			position: absolute;
			top: 0;
			left: 200px;
			width: 600px;
			height: 600px;
			/*background: #555;*/
		}
article h1 {
	margin-left: 30px;
	font-size: 30px;
}
article p {
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	text-align: justify;
	line-height: 25px;
}
article img {
	float: right;
	margin-left: 10px;
}